<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Expense Report</title>
</head>
<body>
    <div class="container">
        <div class="expenses">
            <h3>Expenses</h3>
            <div class="row header">
                    <div>Name</div>
                    <div>Cost ($)</div>
                    <div>Type</div>
                    <div>Date</div>
                    <div>Method</div>
            </div>
            <% for(var i=0; i<expenses.length; i++) {%>
                <div class="row">
                    <div><%= expenses[i].name %></div>
                    <div><%= expenses[i].cost %></div>
                    <div><%= expenses[i].type %></div>
                    <div><%= expenses[i].date %></div>
                    <div><%= expenses[i].method %></div>                    
                </div>
            <% } %>
        </div>

        <form action="/expenses" method="POST">
            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Cost" name="cost">
            <select name="type">
                <option value="Food">Food</option>
                <option value="Fun">Fun</option>
                <option value="Essential">Essential</option>
                <option value="Non-Essential">Non-Essential</option>
            </select>
            <select name="method">
                <option value="Cash">Cash</option>
                <option value="Debit">Debit</option>
                <option value="Credit">Credit</option>
                <option value="Other">Other</option>
            </select>
            <input type="date" name="date">
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="bundle.js"></script>
</body>
</html>